p.todo-content {
    display: inline;
}

p.todo-hi {
    font-size: 3.0rem;
}

p.todo-md {
    font-size: 2.0rem;
}

p.todo-lo {
    font-size: 1.0rem;
}

span.todo-time{
    font-size: 0.7rem;
}

span.todo-count{
    font-size: 1.2rem;
    font-weight: bold;
}