{% extends 'base.html' %}

{% block content %}
    <div class="card col-4 m-auto p-5 text-center">
        <h1 class="text-center m-5">TODOS</h1>
        <form action="" method="POST">
            {% csrf_token %}

            {% for field in login_form %}
                <div class="form-group">
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-outline-primary btn-block">로그인</button>
        </form>
        <a href="{% url 'members:signup' %}" class="btn btn-primary mt-3">회원가입</a>

    </div>

{% endblock %}